p {
  text-align: justify;
  margin-top: 0;
  margin-bottom: 1rem;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.dark .card {
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #282a36;
/* this is the part that takes out the shadow */
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
}

.dark .navbar {
background: #282a36;
box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
}